a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl,
dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li,
mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small,
span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead,
time, tr, tt, u, ul, var, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
font: inherit;
font-size: 100%;
text-decoration: none;

}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
display: block;
}

* {box-sizing: border-box;}


body {
line-height: 1
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
content: '';
content: none;
}

table {
border-spacing: 0;
border-collapse: collapse
}

button, input[type=button] {
margin: 0;
padding: 0;
outline: 0;
border: none;
border-radius: 0;
background: 0 0;
font-size: 100%;
font-family: inherit;
cursor: pointer;
}

textarea {
font-size: 100%;
font-family: inherit;
}



body, html {
  width: 100%;
  height: 100%;
  color:#4a545d;
  font-family: 'fira_sansbook';


}

body {background: url('/images/background.png');}

.fleft {
  float: left;
}

.fright{
  float: right;
}

.clearfix:after{
  content:'';
  display:table;
  clear:both;
}

.wrapper {
  min-height: 100%;
  height: auto!important; /*для IE8*/
  position: relative;
}


/* Header */


.container-header {
  width: 1200px;
  margin:0 auto;
  position: relative;
}

.header {
  background: #eff3f7;
  height: 115px;
  position: relative;
}

.logo {
  padding-top: 34px;
}

.logo-text {
  position: absolute;
  top: 0;
  left: -9999px;
}

.header:after {
  content: " ";
  display: block;
  background-color: rgb(28,102,122);
  background-image: -webkit-linear-gradient(left, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
  background-image: -o-linear-gradient(left, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
  background-image: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
  height: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.socials {
  position: absolute;
  right:0;
  padding: 0;
  font-size: 0;
  margin: 0;
}

.socials-item {
  display: inline-block;
  padding: 30px 0 0 24px;
}

.socials-item-link{
  width: 47px;
  height: 47px;
}

.socials-item:first-child {
  padding-left: 0;
}

/*Navigation*/

.container-main {
  width: 960px;
  margin: 39px auto;
}

.nav {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 25px;
}

.sidebar {
  width: 250px;
}

.links-list {
  background-color: #eff3f7;
}

.links-item {
  width: 250px;
  margin: 0 0 -3px;

}

.links {
  display: block;
  line-height: 72px;
  font-size:21px;
  color:#959aa8;
  border-bottom: 2px solid #3ba8c0;
  margin: 0 11px;
  padding: 0 16px;
}

.links:hover  {
  color: #3ba8c0;
}

.active .links {
  color: #ffffff;
  font-size: 22px;
}

.active {
  color: #ffffff;
  background-color: #3ba8c0;
}


/*Contacts*/


.contacts {
  overflow: hidden;
  border-radius: 4px;
  color: #ffffff;
    line-height: 20px;
}

.contacts-title {
  padding-left: 19px;
  background-color: #3ba8c0;
  line-height: 42px;
  font-size: 21px;
}

.contacts-link {
  position: relative;
  display: block;
  color: white;
  font-size: 15px;
  padding: 10px 12px 10px 58px;
}

.contacts-link:hover {
  text-decoration: underline;
}


.contacts-mail {
  background-color: #41b9d4;
}

.contacts-mail:before {
  width: 21px;
  height: 16px;
  background: url("/images/spritesheet.png") -35px -119px;
  content: ' ';
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -8px
}

.contacts-tel {
 background-color: #48cbe8;
}

.contacts-tel:before {
  width: 20px;
  height: 20px;
  background: url("/images/spritesheet.png")  -66px -119px;
  content: ' ';
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -8px
}

.contacts-skype {
  background-color: #51daf8;
}

.contacts-skype:before {
  width: 20px;
  height: 20px;
  background: url("/images/spritesheet.png") -95px -119px;
  content: ' ';
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -8px
}


/*Info blocks*/

.userpic {
  position: absolute;
  top: 92px;
  left:41px;
  width: 143px;
  height: 143px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #3ba8c0;
}

.userpic-img {
  width: 100%;
}

.basicinfo-list {
  padding:0 20px 25px 228px ;
}

.basicinfo-item {
  margin-bottom: 17px;
  font-family: 'fira_sansmedium';
  display: inline-block;
  vertical-align: top;
}

.basicinfo-text{
  font-family: 'fira_sansbook';
  margin-left: 10px;
  display: inline-block;
  min-width: 180px;
  max-width: 280px;
  vertical-align: top;
}

.widthlimit {
max-width: 230px;
}

.skills {
  display: inline-block;
  background-color:#2e8ca2;
  background-image: linear-gradient(to top, #2e8ca2 0%, #2e8ca2 52%, #3ba8c0 53%, #3ba8c0 100%);
  border-radius: 3px;
  color:white;
  padding:3px 14px;
  margin: 0 3px 8px 0;
  font-family: 'proxima_nova_condensedSBd';
  font-size: 14px;
}

.skillsbox {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 240px;
}


.aboutbox {
  position: relative;
  border-radius: 4px;
  background-color: rgb(239, 243, 247);
  width: 650px;
  margin-bottom: 26px;
}

.aboutbox-title {
  display: inline-block;
  font-size:27px;
  color:#3ba8c0;
  border-bottom:2px solid #3ba8c0;
  padding: 21px 21px 18px 21px ;
  margin-bottom: 24px;
}

.aboutbox-list {
  padding:3px 0 23px 56px;
  clear: both;
}

.aboutbox-item {
  position: relative;
  margin-bottom: 20px;
}

.where, .period {
  display: block;
}

.where {
  padding:0 10px 5px 0;
  font-size:17px;
}

.period {
  font-family: 'fira_sanslight';
  font-size:15px;
}

.study:before {
  width: 42px;
  height: 23px;
  background: url("/images/spritesheet.png") -125px -119px;
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px
}


.case:before {
  width: 38px;
  height: 34px;
  background: url("/images/spritesheet.png")  -46px -5px;
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17px
}

.course:before {
  width: 27px;
  height: 32px;
  background: url("/images/spritesheet.png")  -93px -5px;
  content: ' ';
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -16px
}

.aboutbox-icon {
  padding-left: 69px;
  background-repeat: no-repeat;
}

/*ContactMe Page*/

.formbox {
  /*height: 840px;*/
  overflow: hidden;
}

.formheader {
  color: white;
  font-size: 27px;
  font-weight: 300;
  background-color: #48cbe8;
  padding:50px 56px 43px;
  border-bottom: 17px solid #67dffa;
}

.form-fieldset{
  margin: 0;
  padding: 0;
  font-size: 0;

  border: none;
}

.form-container {
  margin: 50px 125px;
}

.form-block-wrapper{
  width: 47.5%;
  display: inline-block;
}

.textarea {
  height: 185px;
  resize: none;
}

.label {
  color: #959aa8;
  font-size: 17px;
  display: block;
  margin-bottom:3px;
}

.formtextstyle {
  outline: none;
  border: 1px solid #48cbe8;
  border-radius: 3px;
  font-family: 'fira_sanslight';
  font-size: 15px;
  padding: 8px 10px;
  width:100%;
  margin-bottom: 19px;
}

.upload-file-style{
  position: relative;
  overflow: hidden;
  display: block;
  background: white;
  padding: 14px 10px;
  height: 40px;
  color:#48cbe8;
  font-size: 12px;
  margin-right: 28px;
  width: 100%;
}

.qtip-mystyle {
  color: white;
}


::-webkit-input-placeholder {color:#48cbe8; font-size: 13px;  padding-top: 3px;}
:-ms-input-placeholder      {color:#48cbe8; font-size: 13px;  padding-top: 3px;}

/* IE8 */
.placeholder {
  color: #48cbe8;
  font-size: 13px;
  padding: 12px 10px;
}

.codeinput {
  font-size: 15px;
}

.captchacode {
  margin-top: 20px;
  margin-bottom: 40px;
}

/*.captchaimage  {
  margin: 0 0 15px 0;
}*/

.formbutton {
  font-size: 19px;
  color:white;
  padding: 0 20px;
  border-radius: 5px;
  border: transparent;
}

.formbutton:hover {
  box-shadow: none;
  border: 0px none;
}

.sendbtn:active {
  box-shadow: none;
  border: transparent;
  border-top: 1px solid #44bfdb;
  box-shadow: 0 -2px 0 #3ba8c0;
}

.resetbtn:active {
  box-shadow: none;
  border: 0px none;
  border-top: 1px solid #7b92a8;
  box-shadow: 0 -2px 0 #687b8f;
}

.sendbtn {
  background-color: #48cbe8;
  border-bottom: 1px solid #44BFDB;
  box-shadow: 0px 2px 0px 0px #3BA8C0;
}

.resetbtn {
  background-color: #849db5;
  border-bottom: 1px solid #7B92A8;
  box-shadow: 0px 2px 0px 0px #687B8F;
}

.add-project-button {
  width: 140px;
  height: 31px;
  margin: 0px auto;
  display: block;
  font-family: 'fira_sansbook';
  font-size: 19px;
  text-align: center;
}

/*My works page*/

.myworkbox {
  width: 640px;
  margin:0 auto;
  font-size: 0;
}

.projects-item {
  width: 182px;
  text-align: center;
  position: relative;
  margin: 0 15px 35px;
  display: inline-block;
  vertical-align: top;
}

.project-img {
  display: block;
  width: 100%;
  height: 100%
  overflow: hidden;
  border: 2px solid #3ba8c0;
  border-radius: 4px;
}

.projects-item .project-img {
  width: 100%;
  height: 100%;
}

.projects-item .zoom-wrapper {
  position: absolute;
  width: 100%;
  top: 55px;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.projects-item:hover .zoom-wrapper {
  transform: scale(1);
  -webkit-transform: scale(1);
}

.projects-item .zoom-link {
  font-size: 12px;
  border: 1px solid #eff3f7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  word-wrap: break-word;
  padding: 3px 4px;
  margin: 0 5px;
  display: block;

}


.projects-item:hover .project-img{
  -moz-opacity: 0.20;
  opacity: 0.20;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.projects-item:hover .hover-img{
  background-color: #016ca4;
  -moz-opacity: 0.75;
  opacity: 0.75;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  border-radius: 5px;
}

.sitename {
  display: block;
  font-family: 'fira_sanslight_italic';
  font-size: 13px;
  color: #3ba8c0;
  word-wrap: break-word;

}

.zoom-wrapper {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sitenameblock {
  padding: 12px 0;
}

.sitedescript {
  font-family: 'fira_sanslight';
  font-size: 15px;
  color: #4a545d;
  padding: 0 5px;
}

.add-project {
  position: relative;
  height: 129px;
  background-color: #edf8fc;
  border: 1px dashed #3ba8c0;
  border-radius: 4px;
  color: #3ba8c0;
}

.add-project-link:before {
    content: ' ';
    position: absolute;
    left: 75px;
    top: -40px;
    width: 32px;
    height: 32px;
    background: url("/images/spritesheet.png") -5px -5px;
  }

.add-project:hover {
  background-color: rgb(239, 243, 247);
}

.add-project-link {
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    color: #3ba8c0;
    font-size: 13px;
    font-family: "fira_sanslight", "Arial Narrow", sans-serif;
}

.link-container {
  display: block;
  width: 100%;
  height: 100%;
}


.modal-header {
  position: relative;
}

.modal-title {
  color: white;
  font-size: 25px;
  background-color: #48cbe8;
  padding:11px;
  border-bottom: 9px solid #67dffa;
  font-family: 'fira_sansregular';
  font-weight: 400;
}

#b-close {
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url('../images/close.png');
    right: 10px;
    top: 10px;
}

.modal-body{
  margin: 10px 20px 30px ;
}

.add-project-textarea {
  height: 110px;
  resize: none;
}

.upload-button {
  position: absolute;
  right: 0;
  top:0;
  float: right;
  height: 40px;
  width: 50px;
  background: #48cbe8 url('../images/upload.png') no-repeat center center;
  cursor: pointer;
}


.file-field{
    position: absolute;
    height: 40px;
    width: 50px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.emptyField {
  background-color: #fad2d1;
  border: 1px solid #f97e76;
}


#new-project-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -181px;
  margin-top: -255px;
  width: 362px;
  height: 510px;
  background-color: #eff3f7;
  border-radius: 4px;
  box-shadow: 0 6px 12.5px 0.5px rgba(13, 16, 7, 0.35);
  overflow: hidden;
  z-index: 5;
  display: none;
}

#popup-overlay{
  position: fixed;
  background-color: #818181;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  display: none;
  z-index: 3;
  -moz-opacity: 0.75;
  opacity: 0.75;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}


/*Footer*/

.wrapper:after {
  content: "";
  display: block;
  height: 90px;
  clear: both;
}

.footer {
  height: 80px;
  margin-top: -80px;
  font-family: 'fira_sanslight';
  background: #eff3f7;
  color: #4a545d;
  font-size: 13px;
  position: relative;
  text-align: center;
}

.footer-content {
  position: relative;
  display:table;
  width: 960px;
  height: 100%;
  margin: 0 auto;
}

.entry {
  position: absolute;
  left: 30px;
  top: 25px;
  font-size: 0;
  cursor: pointer;
}

.entry:hover {
  background-position: -176px -119px;
}

.copyright {
  display: table-cell;
  vertical-align: middle;
  padding: 0 25%;
}

.footer:before {
  content: "";
  display: block;
  background-color: rgb(28,102,122);
  background-image: -webkit-linear-gradient(left, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
  background-image: -o-linear-gradient(left, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
  background-image: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
  height: 3px;
  position: absolute;
  width: 100%;
  top: 0;
}