.sprite {
    background-image: url(/images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}


.sprite-fb {
    background-position: -129px -5px;
}

.sprite-fb:hover {
    background-position: -5px -62px;
}

.sprite-gh {
    background-position: -62px -62px;
}

.sprite-gh:hover {
    background-position: -119px -62px;
}

.sprite-lock {
    width: 20px;
    height: 32px;
    background-position: -5px -119px;
}

.sprite-tw {
    background-position: -186px -5px;
}

.sprite-tw:hover {
    background-position: -176px -62px;
}

.sprite-unlock {
    width: 20px;
    height: 32px;
    background-position: -176px -119px;
}

.sprite-vk {
    background-position: -5px -161px;
}

.sprite-vk:hover {
    background-position: -62px -161px;
}
